global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

rule_files:
  - '/etc/prometheus/rules/rules.yml'

scrape_configs:
  - job_name: 'node'
    static_configs:
      - targets:
          - 'node-exporter:9100'

# alerting:
#   alertmanagers:
#     - static_configs:
#         - targets:
#             - alertmanager:9093
