global:
  scrape_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  - job_name: 'node-exporter'
    static_configs:
      - targets:
          - 'node-exporter:9100'

  - job_name: 'nginx'
    static_configs:
      - targets:
        - 'host.docker.internal:9113'

  - job_name: 'postgres-exporter'
    static_configs:
      - targets:
          - 'host.docker.internal:9187'  

