global:
  scrape_interval: 15s
  scrape_timeout: 10s
      
scrape_configs:
  - job_name: 'node-exporter'
    static_configs:
      - targets:
          - 'node-exporter:9100'

  - job_name: 'fastapi_app'
    static_configs:
      - targets:
          - 'host.docker.internal:8000'

